 <div id = "homepage_cards" class="container mt-5 mb-10">
    <h1 class="display-1 color: black text-center"> Why you'll love furnico ? </h1>
    <div class="row row-cols-1 row-cols-md-2 g-4 mt-4 mb-5">
      <div class="col">
        <div class="card">
          <%= image_tag("heart.png", :class => "mx-auto img-circle mt-3 mb-3 ")%>
          <div class="card-body">
            <h5 class="card-title">Elegant Designs and Products</h5>
            <p class="card-text">We provide a range of furnitures with a variety of themes and designs.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <%= image_tag("delivery.png", :class => "mx-auto img-circle mt-3 mb-3")%>
          <div class="card-body">
            <h5 class="card-title">Fast Home Delivery</h5>
            <p class="card-text">Our logistics take cares of your furniture and its delivery with high standards.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <%= image_tag("cheap.png", :class => "mx-auto img-circle mt-3 mb-3")%>
          <div class="card-body">
            <h5 class="card-title">Affordable Pricing</h5>
            <p class="card-text">Get your furniture at best prices with furnico.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
         <%= image_tag("furnitures.png", :class => "mx-auto img-circle mt-3 mb-3")%>
          <div class="card-body">
            <h5 class="card-title">Exceptionally Durable</h5> 
            <p class="card-text">Our furnitures are crafted with best practices and raw materials.</p>
      </div>
    </div>
  </div>