<div class="jumbotron text-white jumbotron-image shadow p-5 text-center bg-image rounded-3" style="background-image: url(/assets/homepage_image1.jpg); height: 600px">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6); height: 300px ">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Welcome To Furnico </h1>
          <h4 class="mb-3">Now shop for your personal furniture with a human touch.</h4>
          <%= link_to "Show Now", products_show_arrivals_path, class: "btn btn-outline-light btn-lg"%>
        </div>
      </div>
    </div>
  </div>